*{
    box-sizing: border-box;
}
header{  
      border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    padding: 5px 15px;
    background-color: lawngreen;
    position: fixed;
    width: 98%;
    top: 0;
    z-index: 9999;
    background-attachment: fixed;
    box-sizing: border-box;
}
header .up i{
    margin-top: 20px;
}

.up{
    display: flex;
    justify-content: space-between;
    padding:0 10px;
}
header .up img{
    height: 50px;
    width: 50;

}
.upTow{
    position: relative;
    padding:0 10px;
    display: flex;
    justify-content: space-between;
}
.upTow a{
    text-decoration: none;
    color: black;
}
.upTow p::after{
    position: absolute;
    content: "1";
    background-color: red;
    width: 8px;
    height: 10px;
    border-radius: 10px;
    font-size: 9px;
    color: white;
    padding-left: 3px;
    top: 15px;
}
.main-body{
   
    background-color: gray;
    margin-top: 113px;
    padding-top: 5px;
}
main{
    margin-bottom: 20px;
    background-color: rgb(225, 210, 210);
 margin: 5px;
 padding: 5px;
 display: flex;
 justify-content:space-evenly;
}
main  img{
    border-radius: 30px;
    height: 30px;
    width: 30px;
    position: relative;
    left: 22px;
    bottom: -21px;
}
hr{
    display: flex;
    justify-items: end;
}