*{
    box-sizing: border-box;
}
header{  
      border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    padding: 5px 15px;
    background-color: lawngreen;
    position: fixed;
    width: 98%;
    top: 0;
    z-index: 9999;
    background-attachment: fixed;
    box-sizing: border-box;
}
header .up i{
    margin-top: 20px;
}
.up{
    display: flex;
    justify-content: space-between;
    padding:0 10px;
}
header .up img{
    height: 50px;
    width: 50;

}
.upTow{
    position: relative;
    padding:0 10px;
    display: flex;
    justify-content: space-between;
}
.upTow a{
    text-decoration: none;
    color: black;
}
.upTow p::after{
    position: absolute;
    content: "1";
    background-color: red;
    width: 8px;
    height: 10px;
    border-radius: 10px;
    font-size: 9px;
    color: white;
    padding-left: 3px;
    top: 15px;
}
.main-body{
   
    background-color: gray;
    margin-top: 113px;
    padding-top: 5px;
}
.num-mass{
    margin-left: 25%;
 
   color: aliceblue;
   font-weight: 800;
}
main{
    margin-bottom: 20px;
    background-color: darkgrey;
 margin: 5px;
 padding: 5px;

}
.mystatu{
    margin-bottom: 20px;
    background-color: darkgrey;
 margin: 5px;
 padding: 5px;

}

.mystatu img{
    border-color: rgb(61, 245, 29);
    border-width: 2px;
    border-style: solid;
    border-radius: 30px;
    height: 30px;
    width: 30px;
    position: relative;
    margin: 10px 20px;
    
    float: left;
}
.mystatu div{
    position: relative;
}
.mystatu div::after{
 
  
    z-index: 999;
    top: 28px;
    position: absolute;
    content: "+";
    background-color: #FF9800;
    width: 8px;
    height: 10px;
    border-radius: 10px;
    font-size: 9px;
    font-weight: 900;
    color: rgb(2, 2, 2);
    padding-left: 3px;
    left: 35px;
}
main img{
    border-color: rgb(61, 245, 29);
    border-width: 2px;
    border-style: solid;
    border-radius: 30px;
    height: 30px;
    width: 30px;
    position: relative;
    margin-right: 10px;
    margin-left: 20px;
    bottom: -21px;
    float: left;
}
.Viewed img{
    border-style: none;
    border-radius: 30px;
    height: 30px;
    width: 30px;
    position: relative;
    margin-right: 10px;
    margin-left: 20px;
    bottom: -21px;
    float: left;
}
.main-body p{
margin-left: 20px;
color:gainsboro ;
font-weight: 600;
}
.tap{
    z-index: 999;
    bottom: 20px;
    right: 20px;
    border-radius: 30px;
  text-align: center;
    position: fixed;
    width: 30px;
    height: 30px;
    background-color:rgb(32, 167, 32);
}
.tap2{margin-bottom: 35px;
    z-index: 999;
    bottom: 20px;
    right: 21px;
    border-radius: 30px;
    text-align: center;
    position: fixed;
    width: 30px;
    height: 30px;
    background-color: rgb(32, 167, 32);
}
.tap i{
        
    font-weight: 700;
    color: white;
    font-size: 20px;
    text-align: center;
    margin-top: 4px;
}
.tap2 i{
    
    font-weight: 700;
    color: white;
    font-size: 15px;
    text-align: center;
    margin-top: 6px;
}
.tap3{margin-bottom: 70px;
    z-index: 999;
    bottom: 20px;
    right: 23px;
    border-radius: 30px;
    text-align: center;
    position: fixed;
    width: 30px;
    height: 30px;
    background-color: rgb(32, 167, 32);
}
.tap3 i{
        
    font-weight: 700;
    color: white;
    font-size: 15px;
    text-align: center;
    margin-top: 8px;
}